# Выбросы

In [1]:
import pandas as pd
import numpy as np

bikes = pd.read_pickle('Data/BikesDataVars.pkl')
bikes.head(n=3)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Normal Humidity,Temperature Category,Good Weather
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,0,Freezing,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,0,Freezing,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,0,Freezing,0

In [2]:
pd.DataFrame(bikes['Rental Count'].describe()).T

,count,mean,std,min,25%,50%,75%,max
Rental Count,8760.0,696.582078,749.812613,0.0,157.0,425.5,1009.0,6012.0

In [3]:
def get_iqr_outlier_thresholds(df, col, n_iqr):
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    
    iqr_outlier_threshold_bottom = q1 - n_iqr * iqr
    iqr_outlier_threshold_up = q3 + n_iqr * iqr
    return iqr_outlier_threshold_bottom, iqr_outlier_threshold_up


iqr_outlier_threshold_up = get_iqr_outlier_thresholds(bikes, 'Rental Count', 1.5)[1]
iqr_outlier_threshold_up

2287.0

In [4]:
bikes[bikes['Rental Count'] > iqr_outlier_threshold_up].shape

(413, 14)

In [5]:
bikes[bikes['Rental Count'] > iqr_outlier_threshold_up]['Hour'].value_counts()

18    95
19    64
17    51
20    48
21    39
8     38
16    23
22    21
15    10
14     8
13     7
23     4
7      4
9      1
Name: Hour, dtype: int64

In [6]:
bikes[bikes['Rental Count'] > iqr_outlier_threshold_up]['Seasons'].value_counts()

Summer    196
Autumn    116
Spring    101
Name: Seasons, dtype: int64

In [7]:
bikes['Rental Count'].describe()

count    8760.000000
mean      696.582078
std       749.812613
min         0.000000
25%       157.000000
50%       425.500000
75%      1009.000000
max      6012.000000
Name: Rental Count, dtype: float64

In [8]:
def get_std_outlier_thresholds(df, col, n_std):
    mean, std = df[col].mean(), df[col].std()
    std_outlier_threshold_bottom = mean - 2.5 * std
    std_outlier_threshold_up = mean + 2.5 * std
    return std_outlier_threshold_bottom, std_outlier_threshold_up


std_outlier_threshold_up = get_std_outlier_thresholds(bikes, 'Rental Count', 2.5)[1]
std_outlier_threshold_up

2571.1136104154607

In [9]:
bikes[bikes['Rental Count'] > std_outlier_threshold_up].shape

(278, 14)

In [10]:
iqr_bikes_no_outliers = bikes[bikes['Rental Count'] <= iqr_outlier_threshold_up]
std_bikes_no_outliers = bikes[bikes['Rental Count'] <= std_outlier_threshold_up]

In [11]:
print(bikes['Rental Count'].mean())
print(std_bikes_no_outliers['Rental Count'].mean())

696.5820776255708
613.2393303466164

In [12]:
print(bikes['Rental Count'].median())
print(std_bikes_no_outliers['Rental Count'].median())

425.5
402.0