In [3]:
import pandas as pd
import numpy as np
df_sg = pd.read_csv('Data/ScrabbleGames.csv', sep=',')

# Описание данных

- gameid — номер игры в скрэббл
- tourneyid — номер турнира
- tie — игра закончилась вничью
- winnerid — порядковый номер победителя
- winnername — имя победителя
- winnerscore — набранные победителем очки
- winneroldrating — рейтинг победителя до игры
- winnernewrating — рейтинг победителя после игры
- winnerpos — место победителя в турнире
- loserid — порядковый номер проигравшего
- loserscore — набранные проигравшем очки
- loseroldrating — рейтинг проигравшего до игры
- losernewrating — рейтинг проигравшего после игры
- loserpos — место проигравшего в турнире
- round — раунд турнира, в котором проходила игра
- division — дивизион турнира, в котором проходила игра
- date — дата игры
- lexicon — набор слов, который использовался в игре (международный - 1; характерный для Северной Америки - 0)
- year — год

In [4]:
df_sg.head(n=3)

,gameid,tourneyid,tie,winnerid,winnername,winnerscore,winneroldrating,winnernewrating,winnerpos,loserid,losername,loserscore,loseroldrating,losernewrating,loserpos,round,division,date,lexicon,year
0,451519,1590,0,38,Matt Laufer,0,1892,1877,5,608,Pam Grazette,0,1712,1692,14,1,1,1994-03-11,0,1994
1,451520,1590,0,38,Matt Laufer,0,1892,1877,5,82,Sally Ricketts,0,1390,1347,36,3,1,1994-03-11,0,1994
2,451521,1590,0,38,Matt Laufer,0,1892,1877,5,4001,James Guillot,0,1712,1700,22,5,1,1994-03-11,0,1994

# Задания

### Сгруппируйте датафрейм по переменной `tourneyid`, затем определите тип взаимосвязи между средними значениями переменных `winnerscore` и `winnernewrating`. Выберите один верный ответ.

In [12]:
df_sg \
    .groupby(by='tourneyid') \
    .agg({'winnerscore': 'mean', 'winnernewrating': 'mean'}) \
    .corr()['winnerscore']

winnerscore        1.000000
winnernewrating   -0.604013
Name: winnerscore, dtype: float64

### Укажите, верно ли следующее утверждение: очки, набранные победителем, напрямую и сильно зависят от очков, набранных проигравшим. Сгруппируйте датафрейм по переменной `tourneyid` и посмотрите на средние значения интересующих нас переменных.

In [23]:
df_sg \
    .groupby(by='tourneyid') \
    .agg({'winnerscore': 'mean', 'loserscore': 'mean'}) \
    .corr().iloc[0, 1]

0.9999382016001125

### Между какими переменными можно найти интерпретируемый коэффициент корреляции? Выберите один верный ответ:

- `gameid` и `tie`
- `winnerid` и `loserid`
- `loserid` и `loserpos`
- `winnerpos` и `loserpos`

### Сгруппируйте датафрейм по переменной `tourneyid`, затем рассчитайте коэффициент корреляции между средними значениями переменных `winnernewrating` и `losernewrating`. 
Введите ответ в виде десятичной дроби, округлите до двух знаков после запятой (например, 0.23); если связь обратная, не забудьте указать минус перед числом.

In [55]:
df_sg \
    .pivot_table(values=['winnernewrating', 'losernewrating'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1] \
    .round(2)

0.98

### Выберите только первые раунды турнира, сгруппируйте датафрейм по переменной `tourneyid`, затем рассчитайте коэффициент корреляции между переменными `winnerscore` и `loserscore`. 
Введите ответ в виде десятичной дроби, до двух знаков после запятой (например, 0.29); если связь обратная, не забудьте указать минус перед числом.

In [77]:
df_sg \
    .loc[df_sg['round'] == 1] \
    .pivot_table(values=['winnerscore', 'loserscore'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1] \
#     .round(2)

0.9998969144453596

### Укажите, верно ли следующее утверждение: переменная `tie` не влияет на характер взаимосвязи между переменными `winnernewrating` и `losernewrating`. Сгруппируйте датафрейм по переменной `tourneyid`, затем рассчитайте коэффициент корреляции между средними значениями указанных переменных.

In [136]:
df_sg \
    .loc[df_sg['tie'] == 1] \
    .pivot_table(values=['winnernewrating', 'losernewrating'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1]

0.923302721995826

In [138]:
df_sg \
    .loc[df_sg['tie'] == 0] \
    .pivot_table(values=['winnernewrating', 'losernewrating'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1]

0.9782555275896674

### Выберите самого часто встречающегося победителя (столбец `winnername`). Сгруппируйте датафрейм по переменной `tourneyid`, затем рассчитайте коэффициент корреляции между средними значениями переменных `winnerscore` и `winneroldrating`. 
Введите ответ в виде десятичной дроби, округлите до двух знаков после запятой; если связь обратная, не забудьте указать минус перед числом.

In [149]:
df_sg \
    .loc[df_sg['winnername'] == df_sg['winnername'].mode()[0], :] \
    .pivot_table(values=['winnerscore', 'winneroldrating'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1] \
    .round(2)

0.05

### Укажите, верно ли следующее утверждение: характер взаимосвязи (прямая или обратная) между средними значениями переменных `winnerscore` и `winneroldrating` для победителя по имени *Lester Schonbrun* не отличается для такого же показателя для победителя по имени *Stuart Goldman*. Сгруппируйте датафрейм по переменной tourneyid, затем рассчитайте коэффициент корреляции между средними значениями указанных переменных.

In [151]:
df_sg \
    .loc[df_sg['winnername'] == 'Lester Schonbrun', :] \
    .pivot_table(values=['winnerscore', 'winneroldrating'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1]

0.05229383983973836

In [152]:
df_sg \
    .loc[df_sg['winnername'] == 'Stuart Goldman', :] \
    .pivot_table(values=['winnerscore', 'winneroldrating'], index='tourneyid', aggfunc='mean') \
    .corr().iloc[0, 1]

-0.49853115281438176

### Выберите данные только за 4376 турнир (переменная `tourneyid`). Рассчитайте коэффициент корреляции между переменными `winnerscore` и `loserscore`. 
Введите ответ в виде десятичной дроби, округлите до двух знаков после запятой; если связь обратная, не забудьте указать минус перед числом.

In [163]:
df_sg \
    .loc[df_sg['tourneyid'] == 4376, ['winnerscore', 'loserscore']] \
    .corr().iloc[0, 1] \
    .round(2)

-0.25